1. Write a program to print Hello world

In [1]:
print("Hello World")

Hello World

## Comments

2. Write a single line comment in python

In [2]:
# sample single line comment in the python

3. Write a multiline comment in python

In [3]:
"""
This is a comment
written in 
more that just one line
"""

'\nThis is a comment\nwritten in \nmore that just one line\n'

## Python Variables

4. Create a variable named carname and assign the value Volvo to it.

In [4]:
carname = "Volvo"
carname

'Volvo'

5. Create a variable named x and assign the value 50 to it.

In [5]:
x = 50

6. Display the sum of 5 + 10, using two variables: x and y.

In [6]:
x = 5
y = 10
print(x + y)

15

7. Create a variable called z, assign x + y to it, and display the result.

In [7]:
x = 5
y = 10
z = x + y
print(z)

15

8. Assign the same value to all three variables in one code line.

In [8]:
x = y = z = "Orange"
print(x, y, z)

Orange Orange Orange

9. Make scope of the variable x belong to the global scope.

In [9]:
def myFunc():
    global x
    x = "fantastic"

myFunc()    
print(x)  # accessing variable x declared inside function using global scope

fantastic

## Python Data Types

10. print the datatype of below variables

In [10]:
x = 5
type(x)

int

In [11]:
x = "Hello World"
print(type(x))

<class 'str'>

In [12]:
x = 20.5
type(x)

float

In [13]:
x = ["apple", "banana", "cherry"]
type(x)

list

In [14]:
x = ("apple", "banana", "cherry")
type(x)

tuple

In [15]:
x = {"name" : "Manoj", "age" : 27}
type(x)

dict

In [16]:
x = True

In [17]:
type(x)

bool

## Python Number

11. Convert x into a floating point number.

In [18]:
x = 5
x = float(x)
x

5.0

12. Convert x into a integer.

In [19]:
x = 5.5
x = int(x)
x

5

13. Convert x into a complex number.

In [20]:
x = 5
x = complex(x)
x

(5+0j)

## Python Strings

14. Use the len method to print the length of the string.

In [21]:
x = "Hello World"
print(len(x))

11

15. Get the first character of the string "Hello World".

In [22]:
x = "Hello World"
x[0]

'H'

16. Get the characters from index 2 to index 4 (llo) from "Hello World" string.

In [23]:
x = "Hello World"
x[2:5]

'llo'

17. Return the string without any whitespace at the beginning or the end.

In [28]:
x = " Hello World "
print(x)
print(x.strip())

 Hello World
Hello World

## Python Class

In [25]:
class MyClass:
    x = 5

In [26]:
my_class = MyClass()
my_class.x

5

In [36]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def toString(self):
        return "name : {name}, age: {age}".format(name=self.name,age=self.age)

person = Person("Manoj Pawar", 27)

print(person.name)
print(person.age)
print(person.toString())

Manoj Pawar
27
name : Manoj Pawar, age: 27

In [37]:
class Dog:
    __family = "Mammal"
    
    def __init__(self, breed):
        self.__breed = breed
        
    def setName(self, name):
        self.name = name
    
    def getName(self):
        return self.name
    
    def getFamily(self):
        return self.__family
    
    def getBreed(self):
        return self.__breed

dog = Dog("Pug")
print(dog.getBreed())
print(dog.getFamily())
dog.setName("Tommy")
print(dog.getName())

Pug
Mammal
Tommy

In [40]:
class Vehicle:
    pass

class Car(Vehicle):
    __tierBrand = "MRF"
    
    def __init__(self, model):
        self.__model = model
    
    def setModel(self):
        return self.__model
    
    def setModel(self, model):
        self.__model = model

car = Car(2)